form {
  display: grid;
  margin: 1em;
  padding: 2em;
  justify-content: center;
  align-content: center;
}

#toggle {
  display: flex;
  justify-content: center;
  align-content: center;
}
body {
  background-image: url(https://i.pinimg.com/736x/f3/a5/64/f3a564b42846a8097969d923ad05605d.jpg);
}
